.requestMessage {
  position: fixed;
  left: 50%;
  top: 50%;
  max-width: 590px;
  width: 100%;
  font-size: 30px;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  z-index: 99999999;
  max-height: 900px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
  text-align: center;
}
.selectShop {
    cursor: pointer;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: 0.3s;
    padding: 10px;
    margin-bottom: 22px;
    margin-right: 5px;
    border:2px solid transparent;
  }
  .selectedShop {
    border: 2px solid #FDE910;
  }
.controlerWrapper {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-between;
}
.backPage {
  font-size: 27px;
  padding-bottom: 3px;
  cursor: pointer;
}
.shopsWrapper {
    height: 335px;
    overflow: auto;
}

/* .zacaz1 p,
.zacaz1 h1,
.zacaz1 h2 {
  margin: 0;
} */
.zacaz1 {
  max-width: 93.5%;
  margin: 0 auto;
  /* margin-top: 40px; */
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.orderName {
  margin: 0;
}
.contentContainer {
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr 2.3fr;
}
.contacts {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 20px;
}
.subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}
.input {
  width: 252px;
  border: 1px solid #efefef;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 11px 16px;
  margin-bottom: 8px;
  display: block;
  outline: none;
}
.input:last-of-type {
  margin-bottom: 32px;
}
.selectContainer {
  display: flex;
  flex-direction: column-reverse;
}
.payWay {
  margin-bottom: 8px;
}
.radiob {
  margin-right: 18px;
}
.totalContainer {
  text-align: center;
  margin-bottom: 35px;
}
.totalTitle {
  font-size: 15px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
}
.totalTitle img {
  margin-right: 13px;
}
.total {
  font-size: 30px;
}
.send {
  border: none;
  border-radius: 8px;
  background-color: #fcef7d;
  padding: 16px 0;
  outline: none;
  cursor: pointer;
  width: 100%;
}
.basket {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 20px;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}
.prices {
  display: flex;
  position: relative;
  right: 65px;
}
.prices p:first-of-type {
  margin-right: 20px;
}
.productItem {
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.category {
  font-size: 12px;
  color: #aeaeae;
}
.add {
  font-size: 16px;
  color: #161616;
}
.count {
  padding: 4px 37px;
  font-size: 15px;
  border-radius: 8px;
  background-color: #f7f7f7;
  display: inline-block;
  margin-right: 36px;
}
.amount {
  color: #161616;
  font-size: 15px;
  display: inline-block;
}
.amountWarehouse {
  font-size: 18px;
}
.amountStore {
  font-size: 18px;
  color: #aeaeae;
}

/*place*/
.diliveryContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 43px;
}
.diliveryTitle {
  font-size: 20px;
}
.chekContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.paramsCheck {
  display: none;
}
.switch {
  width: 58px;
  height: 30px;
  padding: 3px;
  background-color: #cacfd5;
  border-radius: 23px;
  transition: 0.4s;
}
.switchSlider {
  width: 26px;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}
.switchActive {
  transition: 0.4s;
  background-color: #fcef7d;
}
.switchSliderActive {
  transition: 0.4s;
  margin-left: 50%;
}
.placeItem {
  margin-bottom: 34px;
}
.placeItem div {
  margin-bottom: 7px;
}
.placeName {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.placeContacts {
  font-size: 14px;
  color: #aeaeae;
}
.placeAdress {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #aeaeae;
}

.deliveryContainer {
}
.input {
  width: 252px;
  border: 1px solid #efefef;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 11px 16px;
  margin-bottom: 8px;
  display: block;
  outline: none;
}
.input:last-of-type {
  margin-bottom: 24px;
}
.deliveryPrice {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 34px;
}
.priceTitle {
  padding-bottom: 16px;
}
.priceTitle img {
  margin-right: 17px;
}
.selectContainer {
}
.payWay {
  font-size: 14px;
  color: #aeaeae;
}
.priceContainer {
  display: flex;
  justify-content: space-between;
}
.totalContainer {
  text-align: center;
  margin-bottom: 35px;
}
.totalTitle {
  font-size: 15px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
}
.total {
  font-size: 30px;
}
.send {
  border: none;
  border-radius: 8px;
  background-color: #fcef7d;
  padding: 16px 0;
  outline: none;
  cursor: pointer;
  width: 100%;
}


@media screen and (max-width: 425px) {
  .header {
    margin-bottom: 16px;
  }
  .orderName {
    margin: 0;
    font-size: 16px;
  }
  .titleContainer {
    margin-bottom: 16px;
  }
  .contentContainer {
    display: initial;
    background-color: rebeccapurple;
  }
  .contacts {
    padding: 20px;
  }
  .input:last-of-type {
    margin-bottom: 20px;
  }
  .selectContainer {
    font-size: 13px;
  }
  .radiob {
    margin-right: 12px;
  }
  .basket {
    padding: 20px;
  }
  .titleContainer h2 {
    font-size: 18px;
  }
  .mobileBlock {
    display: none;
  }
}
